@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

html{
  -webkit-font-smoothing: antialiased;
  -webkit-text-size: 100%;
  min-width: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: hotpink;
}

body {
  margin: 0;
  padding: 0;
  background-color: #17141d;
  color: white;
  font-family: 'Poppins';
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: hotpink;
  outline: 1px solid slategrey;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(35, 38, 36, 1);
  color: white;
  padding: 1% 2%;
  font-family: 'Potta One'
}

.nav-bar img{
  display: block;
  height: auto;
  width: 100%;
}

.nav-bar-img {
  display: flex;
  margin: auto;
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

.nav-bar-img h1{
  margin: auto;
  padding-left: 1.5rem;
}

.nav-bar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar-links li a{
  padding: 1rem;
  display: block;
}

.nav-bar-links li a:hover{
  cursor: pointer;
  color: hotpink;
}

.nav-bar-toggle{
  position: absolute;
  cursor: pointer;
  top: 1.25rem;
  right: 1.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav-bar-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .nav-bar-toggle{
    display: flex;
  }
  .nav-bar-links {
    display: none;
    width: 100%;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-bar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-bar-links li {
    text-align: center;
  }

  .nav-bar-links li a {
    padding: .5rem 1rem;
  }

  .nav-bar-links.active {
    display: flex;
  }
}
.overlay {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
}

.overlay-text {
  position: relative;
  top: 10px;
  font-family: 'Poppins';
  font-size: 15px;
}

.preview:hover .overlay{
  opacity: 0.85;
}

/* Footer */

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  background: #272928;
  font-family: 'Potta One';
}

.footer-information {
  padding: 20px;
  margin: auto;
}

.footer-information p{
  font-family: 'Poppins';
  color: darkgrey;
  font-size: 12px;
}

.footer-links {
  padding: 20px;
  margin: auto;
  font-family: 'Poppins'
}

.footer-links ul{
  padding: 0;
}

.footer-links ul li a{
  text-decoration: none;
  color: white;
}

.footer-links ul li a:hover{
  cursor: pointer;
  color: hotpink;
}

.invite-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  background: hotpink;
  overflow: hidden;
  box-shadow: 20px black;
  transition: transform .5s ease;
}

.invite-link img{
  max-width: 100px;
  height: auto;
}

.invite-link:hover .overlay{
  opacity: 0.85;
}

.invite-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  font-family: 'Poppins';
  font-size: 25px;
  color: white;
}

@media (max-width: 1024px){
  .invite-link {
    transform: scale(0);
  }
}
