@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.nav-bar{
  position: relative;
}

.nav-bar ul{
  display: flex;
  justify-content: center;
}

.nav-bar ul li{
  background: #272928;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Potta One';
}

.nav-bar ul li.active,
.nav-bar ul li:hover{
  background: hotpink;
  transition: 0.5s;
}

.items {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.item {
  height: 300px;
  width: 300px;
  min-width: 250px;
  margin: 10px;
  padding: 10px;
  overflow: hidden;

  border-radius: 25px;
  background: #272928;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);

  font-family: 'Sofia'
}

.item:hover{
  background: #171616;
  transition: 0.5s;
}

.preview {
  position: relative;
  height: 157px;
  width: auto;
  overflow: hidden;
}

.image-pattern {
  display: block;
  max-width: 100%;
  padding: inherit;
  height: auto;
  box-shadow: 20px black;
}

.image-wreath {
  display: block;
  padding: inherit;
  max-height: 100%;
  width: auto;
  box-shadow: 20px black;
  margin: auto;
}

.image-emblem {
  display: block;
  padding: inherit;
  max-height: 100%;
  width: auto;
  box-shadow: 20px black;
  margin: auto;
}

.image-hat {
  display: block;
  padding: inherit;
  max-height: 100%;
  width: auto;
  box-shadow: 20px black;
  margin: auto;
}

.img-background {
  display: block;
  max-width: 100%;
  padding: inherit;
  height: auto;
  box-shadow: 20px #black;
}

img{
  display: block;
  max-width: 100%;
  padding: inherit;
  height: auto;
  box-shadow: 20px #black;
}

.item-tags {
  padding-top: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: auto;
  height: auto;
  cursor: pointer;

  font-size: 12px;
  font-family: sans-serif;
}

.item-price {
  margin: 2px;
  max-width: 100%;
  border-radius: 10px;
  color: dimgrey;
  font-family: sans-serif;
}

.item-tags-type {
  flex: initial;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;

  max-width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  color: orange;
}

.item-tags-deletable {
  flex: initial;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;

  max-width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  color: green;
}

.item-tags-not-deletable {
  flex: initial;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;

  max-width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  color: red;
}

.item-tags-giftable {
  flex: initial;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;

  max-width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  color: green;
}

.item-tags-not-giftable {
  flex: initial;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;

  max-width: 100%;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  color: red;
}

.options {
  position: fixed;
  top: 120px;
  left: 20px;
}

.gear-icon {
  width: inherit;
}

.gear-icon svg{
  transform-origin: 50% 50%;
  display: inline-block;
  transition: 0.2s ease;
}

.gear-icon:hover svg{
  color: hotpink;
  cursor: pointer;
}

.gear-icon:active svg{
  transform: rotate(45deg);
}


.market-menu {
  position: fixed;
  top: 170px;
  border-radius: 10px;
  background-color: rgba(39,41,40,0.9);

}

.market-menu ul {
  margin-top: 0;
  padding-left: 0px;
  font-family: 'Poppins'
}

.market-menu ul li {
  padding:10px;
  border-radius: 10px;
}

.market-menu ul li:hover{
  cursor: pointer;
  background-color: hotpink;
}
